<% provide :title, "Help" %>
<div class="center mt-4 p-5 bg-primary text-white rounded">
  <h1>Help</h1>
  <h5>
    This is the Help page for the
    <a>Ruby on Rails Tutorial</a>
    sample application.
  </h5>
</p>
</div>
