<% provide :title, "Home" %>

<div class="center mt-4 p-5 bg-primary text-white rounded">
   <h1>Welcome to the Sample App</h1>
    <h5>
        This is the home page for the
        <a>Ruby on Rails Tutorial</a>
        sample application.
    </h5>
    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-warning mt-4" %>
</div>
